*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'fuenteNav';
    src: url(./Tipografía/NeutraText-BoldSC.otf);
}


a:hover{
    color: orangered;
}


.header1{
    background-color: rgb(145, 145, 145);
    display:grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: auto;
    justify-content: center ;
}

.header2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px ;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-around;
    line-height: 60px;
    background-color: white;
    border-bottom: 5px solid orangered;
}


.logo{
    display:inline-flex;
}

h1{
    font-size: 23px;
    color: orangered;
    font-family: Georgia, Times, 'Times New Roman', serif;    
}

a {
    text-decoration: none;
    color: black;
}


#nav-ace{
    list-style: none;
}

#nav-ace li{
    display: inline-flex;
    margin-left: 70px;
    padding-left: 0px;
    font-size: 20px;
    font-family: 'fuenteNav', sans-serif;
}



/*.bg-main{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)), url(./Imagenes/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    text-align: left;
    justify-content: center;
    align-content: center;
}*/

footer{
    display: grid;
    justify-content: center;
    background: rgb(65, 65, 65);
    color: white;
}


#marca{
    background: linear-gradient(rgba(255, 69, 0, 0.5), rgba(255,69,0,0.5));
    display: inline-flex;
    text-align: center;
    color: white;
    font-size: 40px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    font-family: Times, 'Times New Roman', serif;
}

#slogan{
    color: white;
    font-size: 50px;
    display: inline-flex;
    font-family: Times, 'Times New Roman', serif;
}

main{
    display: grid;
    grid-template-rows: auto auto;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)), url(./Imagenes/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    text-align: left;
    justify-content: center;
    align-content: center;
}

#boton{
    display: grid;
    align-content: center;
    justify-content: center;
    font-family: Times, 'Times New Roman', serif;
}

h4{
    color: white;
    display: inline-flex;
    font-size: 25px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border: 10px;
    border-color: aliceblue;
    border-radius: 20px;
    background: linear-gradient(rgba(10, 10, 10, 0.5), rgba(10, 10, 10, 0.5));
    text-align: center;
    font-family: Times, 'Times New Roman', serif;
}

@media (max-width: 768px){
    .header1{
    display: grid;
    grid-template-columns: 15px 15px 15px 15px;
    grid-template-rows: auto;
    justify-content: space-around;
    }
    .header2{
    display: grid;
    margin: 0px;
    padding-top: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 50px 300px auto;
    }

    h1{
        display: grid;
        font-size: 25px;
        padding-right: 20px;
        line-height:40px;
        
    }
    
    #nombre{
        text-align: center;
    }

    #nav-ace li{
        display: block;
        text-align: center;
        font-size: 20px;
    }

    #nav{
        display: grid;
        grid-column: 1/3;
    }

    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)), url(./Imagenes/index.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: grid;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    footer{
        display: grid;
        text-align: center;
        justify-content: center;
        background: rgb(65, 65, 65);
        color: white;
    }
    
    #marca{
        font-size: 30px;
    }

    #slogan{
        font-size: 40px;
    }
}




/*CONTACTO*/


section{
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)), url(./Imagenes/Nosotros.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.contacto{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 500px;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    
}

form{
    display: grid;
    background:rgba(39, 39, 39, 0.8);
    border: 10px solid rgb(22, 22, 22);
    border-radius: 30px;
    margin-bottom: 40px;
}

.contact-title{
    margin-bottom: 20px;
    font-size: 30px;
}
.descripcion{
    margin-bottom: 40px;
}

#boton-volver{
    display: flex;
    justify-content: flex-end;
}

.button-style{
    font-size: 20px;
    border: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

@media (max-width: 480px) {
    .header1{
    display: grid;
    grid-template-columns: 15px 15px 15px 15px;
    grid-template-rows: auto;
    justify-content: space-around;
    }
    .header2{
    display: grid;
    margin: 0px;
    padding-top: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 40px 20px auto;
    }

    h1{
        display: grid;
        font-size: 15px;
        padding-right: 20px;
        line-height:50px;
        
    }

    a {
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    #nombre{
        text-align: center;
    }

    #nav-ace li{
        display: block;
        text-align: center;
        font-size: 20px;
        color: white;
    }

    #nav{
        padding-top: 50px;
        display: grid;
        align-items: center;
    }

    main{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5,7,12,0.75)), url(./Imagenes/index.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: grid;
        text-align: center;
        justify-content: center;
        align-content: center;
    }

    footer{
        display: grid;
        text-align: center;
        justify-content: center;
        background: rgb(65, 65, 65);
        color: white;
    }
    
    #marca{
        font-size: 30px;
    }

    #slogan{
        font-size: 40px;
    }
}